body {
	font-family: sans-serif;
	line-height: 1.6;
}
.header {
	padding: 1rem 0;
}

.header-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 1.25rem;
	font-weight: 700;
	margin-right: auto;
}

#nav {
}

.button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.button:hover {
}

h1 {
	font-size: 1.75rem;
	line-height: 1.15;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.4rem;
	line-height: 1.25;
	margin-bottom: 0.5rem;
}

img {
	width: 100%;
	margin-bottom: 2rem;
}

@media screen and (min-width: 36rem) {
	img {
		max-height: 50vh;
		object-fit: cover;
	}
}

.menu {
	margin-bottom: 1rem;
}

.about-description {
	margin-bottom: 1.5rem;
}

.about-info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
